@model AeroVista.Models.City

@{
    ViewData["Title"] = "DeleteCities";
}

<h1>DeleteCities</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
    
    <form asp-action="DeleteCities">
        <input type="hidden" asp-for="CityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Cities">Back to List</a>
    </form>
</div>
